body {
  background-color: #ffffff;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  outline-style: double;
}
p {
  color: #000000;
  margin-top: 0;
  outline-style: double;
}
.cursor {
  display: inline-block;
  width: 10px;
  height: 1.5rem;
  background: #00ff00;
  animation: blink 1s infinite;
  vertical-align: middle;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* The Container */
nav {
  display: flex;
  justify-content: space-between; /* Pushes Logo left, Links right */
  align-items: center; /* Vertically centers text */
  padding: 0 5%; /* 5% breathing room on sides */
  height: 40px; /* The "Standard" pleasing height */
  outline-style: double;
}

/* The Links */
nav a {
  margin-left: 30px; /* Space between links */
  font-size: 1rem;
  font-weight: 500;
  padding: 10px; /* Increases the clickable "Touch Target" area */
  transition: color 0.3s ease; /* Smooth feedback */
}

/* The Hover Effect (Feedback) */
nav a:hover {
  color: #0056b3;
}
