/* ===== Base tokens, light theme ===== */
:root {
  --bg: #ffffff;
  --text: #000000;
  --link: #111;
}

/* ===== Dark theme ===== */
body.dark {
  --bg: #111;
  --text: #eee;
  --link: #eee;
}

/* ===== Base layout ===== */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--bg);
  color: var(--text);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

a {
  color: var(--link);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  outline-style: double;
}
p {
  margin-top: 0;
  outline-style: double;
}
.cursor {
  display: inline-block;
  width: 10px;
  height: 1.5rem;
  background: #00ff00;
  animation: blink 1s infinite;
  vertical-align: middle;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* The Container */
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between; /* Pushes Logo left, Links right */
  align-items: center; /* Vertically centers text */
  padding: 0 5%; /* 5% breathing room on sides */
  height: 40px; /* The "Standard" pleasing height */
  outline-style: double;
}

/* The Links */
header a {
  margin-left: 30px; /* Space between links */
  font-size: 1rem;
  font-weight: 500;
  padding: 10px; /* Increases the clickable "Touch Target" area */
  transition: color 0.3s ease; /* Smooth feedback */
}

/* The Hover Effect (Feedback) */
header a:hover {
  color: #0056b3;
}

.theme-toggle img {
  width: 20px;
  height: 20px;
}
.theme-toggle button {
  background: none; /* remove gray background */
  border: none; /* remove border */
  padding: 0; /* remove default padding */
  cursor: pointer; /* pointer on hover */
  outline: none; /* remove focus outline */
  display: flex; /* center the image if needed */
  align-items: center;
  justify-content: center;
}
