body {
  /* background-color: #4f4e5d;
  color: white; */
  background-color: white;
  color: black;;
}
h1 {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* pour fixer le pied de page en bas de la page */
footer {
  position: absolute;
  bottom: 0;
  width: 99%;
}

/* header */
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  auto;
}

#nav li {
  margin: 20px;
}
/* header */

/* enlever la surbrillance des liens */
a {
  text-decoration: underline;
}


/* horaire */

#horaire {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#horaire a {
    text-decoration: none;
  }

#legende {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}

table {
  margin: 0 auto; /* pour centrer la table */
  text-align: center;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 12px;
}

.disponible {
  background-color: green;
}

.indisponible {
  background-color: gray;
}
/* horaire */