/*
class="intro" example 
.intro {
    background-color: yellow;
}

id="firstname" example
#firstname {
  background-color: yellow;
}

*/

#head {
    justify-content: center;
}

#logo {
    background-color: yellow;
}

.happy {
    background-color: yellow;
}
