/*
class="intro" example 
.intro {
    background-color: yellow;
}

id="firstname" example
#firstname {
  background-color: yellow;
}

*/
:root {
    --main-color: #30a13d;
    --player-color: purple;
}

html {
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-color: grey;
}


#logo {
    background-color: yellow;
}

.happy {
    background-color: orange;
}
