/*
class
.intro {stuff}

id
#firstname {stuff}
*/
:root {
    --theme : rgb(40,40,40);
    --font-color: white;
    --splash : aqua;
}

html {
    background-color: var(--theme);
}

h1, p {
    color: var(--font-color);
}

.center {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    border: 3px solid green;
  }

#head h1{
    background-color: rgb(105, 57, 103);
}

#head p{
    background-color: orange;
}

#box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--splash);
  }